<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是命名空间，作用就是对sql语句进行分类化管理，可以理解sql的隔离 注意：使用mapper带你开发，namespace有重要作用， 
	后面会讲到，即nameSpace等于mapper接口的地址 -->
<mapper namespace="bartermall.mapper.UserMapper">



	<select id="findUserByUsername" parameterType="User"
		resultType="user">
		select * from user where name=#{name}
	</select>

	<select id="getUserById" parameterType="String"
		resultType="User">
		select * from user where id=#{id}
	</select>

	<select id="getUserByIdPwd" parameterType="user"
		resultType="User">
		SELECT * from user where id = #{id} AND password =
		#{password}
	</select>

	<insert id="addUser" parameterType="user">
		INSERT INTO user
		(id,password,qq,photo,state,point) VALUES
		(#{id},#{password},#{qq},#{photo},#{state},#{point})
	</insert>
	<insert id="updateUserInfo" parameterType="user">
		UPDATE user set 
		name=#{name},email=#{email},area=#{area},college=#{college},grade=#{grade},tel=#{tel},qq=#{qq}
		WHERE id=#{id}
	</insert>
	<insert id="addPointByReleaseProduct" parameterType="String">
		<!-- UPDATE user u ,product p SET point = point+2 WHERE u.id = p.beloneto 
			AND p.pid = #{pid} -->
		update user set point=point+2 where id=#{id}
	</insert>

	<update id="updateUserPhoto" parameterType="user">
		update user set photo=#{photo},state=#{state} where id=#{id}
	</update>


</mapper>
